@inherits LayoutComponentBase
@inject IBlobManager _blobManager;
@using Yabe.Application.Authorization
@using Yabe.Application.Extensions
@using Yabe.Domain
@using Yabe.Ui.Managers
@inject IAuthorizationManager _authorizationManager
@inject IJSRuntime _jsRuntime

<tr>
    <td><span class=""><i class="fas fa-check-circle"></i></span></td>
    <td class="is-hidden-mobile">
        @if (_copied)
        {
            <span class="" ><i alt="hi" class="fas fa-check"></i></span>
        }
        else
        {
            <a @onclick="@(() => CopyToClipboard(Blob.Url))">
                <span class=""><i class="far fa-copy"></i></span>
            </a>
        }
    </td>
    <td>
        @if (string.IsNullOrEmpty(Blob.Url))
        {
            @Blob.BaseName();
        }
        else
        {
            <a target="_blank" href="@Blob.Url">@(Blob.BaseName())</a>
        }
    </td>

    <td class="is-hidden-mobile">@Blob.Size.ToFriendlyBytesString()</td>
    <td class="is-hidden-mobile">@Blob.LastModified?.ToString("g")</td>

    @if (_authorizationManager.CanEdit())
    {
        <td>
            @if (_isDeleting)
            {
                <span class="has-text-info"><i class="fas fa-spinner fa-pulse"></i></span>
            }
            else
            {
                <a @onclick="ConfirmDelete">
                    <span class=""><i class="far fa-trash-alt"></i></span>
                </a>
            }
        </td>
    }
</tr>

<div class="modal @(_isConfirmingDelete ? "is-active":"")">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirm Delete</p>
            <button @onclick="CancelDelete" type="reset" class="is-pulled-right delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>@Blob.Name</p>
        </section>
        <footer class="modal-card-foot">
            <button @onclick="Delete" type="submit" class="button is-danger @(_isDeleting ? "is-loading" : "")">Delete</button>
            <button @onclick="CancelDelete" type="reset" class="button">Cancel</button>
        </footer>
    </div>
</div>

@code {
    [Parameter]
    public Blob Blob { get; set; }

    [Parameter]
    public Func<Blob, Task> OnDelete { get; set; }

    private bool _isDeleting;
    private bool _copied;
    private bool _isConfirmingDelete;

    private void ConfirmDelete() 
    {
        _isConfirmingDelete = true;
    }

    public void CancelDelete()
    {
        _isConfirmingDelete = false;
    }

    private async Task Delete()
    {
        if (!_isConfirmingDelete)
            return;

        _isDeleting = true;

        if (OnDelete != null)
            await OnDelete(Blob);

        _isConfirmingDelete = false;
        _isDeleting = false;
    }

    public async Task CopyToClipboard(string content)
    {
        _copied = true;
        await Task.Delay(350);

        await _jsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", content);
        _copied = false;
    }
}
